In [1]:
#import pandas and sqlite
import pandas as pd
import sqlite3 as sl

In [2]:
#connecct to database object
conn = sl.connect('NYT_covid.db')
c = conn.cursor()

In [3]:
#update counties table with most recent data
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv', index_col=0, encoding='latin-1')

c.execute('DROP TABLE IF EXISTS counties')
c.execute('CREATE TABLE counties (date datetime, county str, state str, fips str, cases int, deaths int, confirmed_cases int, confirmed_deaths int, probable_cases int, probable_deaths int)')
conn.commit()

counties.to_sql('counties',conn, if_exists='replace')

In [4]:
#update states table with most recent data
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv', index_col=0, encoding='latin-1')

c.execute('DROP TABLE IF EXISTS states')
c.execute('CREATE TABLE states (date datetime, county str, state str, fips str, cases int, deaths int, confirmed_cases int, confirmed_deaths int, probable_cases int, probable_deaths int)')
conn.commit()

counties.to_sql('states',conn, if_exists='replace')

In [5]:
#create new table for regions

regions = pd.read_csv('regions.csv', index_col=0, encoding='latin-1')

c.execute('DROP TABLE IF EXISTS regions')
c.execute('CREATE TABLE regions (state str, census_bureau_region str, census_bureau_division str, standard_federal_region str, circuit_court_appeals str, bureau_economic_analysis str)')
conn.commit()

regions.to_sql('regions',conn, if_exists='replace')

In [6]:
#confirm tables present
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])

deaths
mask_use
us
election
counties
states
regions

In [7]:
df = pd.read_sql('''select * from regions limit 10;''',conn)
df

,State,census_bureau_region,census_bureau_division,standard_federal_region,circiut_court_of_appeals,bureau_economic_analysis
0,Alabama,South,East South Central,4,11,Southeast
1,Alaska,West,Pacific,10,9,Far West
2,Arizona,West,Mountain,9,9,Southwest
3,Arkansas,South,West South Central,6,8,Southeast
4,California,West,Pacific,9,9,Far West
5,Colorado,West,Mountain,8,10,Rocky Mountain
6,Connecticut,Northeast,New England,1,2,New England
7,Delaware,South,South Atlantic,3,3,Mideast
8,District of Columnia,South,South Atlantic,3,DC,Mideast
9,Florida,South,South Atlantic,4,11,Southeast

In [8]:
df = pd.read_sql('''select * from election limit 10;''',conn)
df

,state,county,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,...,age29andunder_pct,age65andolder_pct,median_hh_inc,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct,ruralurban_cc
0,Alabama,Autauga,1001,18172,5936,865,17379,6363,190,6331.0,...,40.037058,13.978456,53099.0,5.591657,12.417046,75.407229,10.002112,74.065601,42.002162,2.0
1,Alabama,Baldwin,1003,72883,18458,3874,66016,18424,898,19145.0,...,35.474412,18.714851,51365.0,6.286843,9.972418,70.452889,7.842227,68.405607,42.279099,3.0
2,Alabama,Barbour,1005,5454,4871,144,5550,5912,47,4777.0,...,37.664387,16.528895,33956.0,12.824738,26.235928,87.132213,19.579752,81.364746,67.789635,6.0
3,Alabama,Bibb,1007,6738,1874,207,6132,2202,86,2082.0,...,37.329435,14.885699,39776.0,7.146827,19.301587,88.000000,15.020490,87.471774,68.352607,1.0
4,Alabama,Blount,1009,22859,2156,573,20757,2970,279,2980.0,...,37.240053,17.192916,46212.0,5.953833,19.968585,86.950243,16.643368,86.163610,89.951502,1.0
5,Alabama,Bullock,1011,1140,3530,40,1251,4061,10,3364.0,...,37.935936,15.134572,29335.0,13.258520,33.437884,89.744988,11.780384,79.157783,51.374382,6.0
6,Alabama,Butler,1013,4901,3726,105,5087,4374,35,3663.0,...,37.056213,18.126233,34315.0,9.804827,18.940426,83.919994,14.604180,80.075997,71.232157,6.0
7,Alabama,Calhoun,1015,32865,13242,1757,30278,15511,468,14152.0,...,38.783083,15.930723,41954.0,11.681822,17.663137,82.347033,16.399511,81.640612,33.696826,3.0
8,Alabama,Chambers,1017,7843,5784,273,7626,6871,114,5845.0,...,35.872185,18.387324,36027.0,7.489945,19.736732,87.515721,15.295351,83.858791,49.148034,6.0
9,Alabama,Cherokee,1019,8953,1547,233,7506,2132,141,1915.0,...,32.710353,20.322817,38925.0,5.855731,18.717235,86.038301,19.256407,85.783243,85.736273,6.0

In [9]:
df = pd.read_sql('''select * from counties limit 10;''',conn)
df

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1     0.0
1  2020-01-22    Snohomish  Washington  53061.0      1     0.0
2  2020-01-23    Snohomish  Washington  53061.0      1     0.0
3  2020-01-24         Cook    Illinois  17031.0      1     0.0
4  2020-01-24    Snohomish  Washington  53061.0      1     0.0
5  2020-01-25       Orange  California   6059.0      1     0.0
6  2020-01-25         Cook    Illinois  17031.0      1     0.0
7  2020-01-25    Snohomish  Washington  53061.0      1     0.0
8  2020-01-26     Maricopa     Arizona   4013.0      1     0.0
9  2020-01-26  Los Angeles  California   6037.0      1     0.0

In [10]:
df = pd.read_sql('''WITH cte as (
                                SELECT state, bureau_economic_analysis as bea
                                FROM regions
                                WHERE bureau_economic_analysis = 'Midwest'
                                )
                    SELECT bea, date, cases as cumulative_total_cases, 
                           cases - LAG (cases,1) OVER 
                           (PARTITION BY fips ORDER BY date) as  ‘new_cases’,
                           deaths as cumulative_total_deaths,
                           deaths - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date) as 'new_deaths'
                    FROM counties c 
                    JOIN cte r on c.state = r.state
                    ORDER BY bea, c.state, date;''',conn)
df

Empty DataFrame
Columns: [bea, date, cumulative_total_cases, ‘new_cases’, cumulative_total_deaths, new_deaths]
Index: []

In [11]:
df = pd.read_sql('''SELECT state, bureau_economic_analysis as bea
                                FROM regions
                                WHERE bureau_economic_analysis = 'Midwest';''',conn)
df

Empty DataFrame
Columns: [State, bea]
Index: []

In [12]:
df = pd.read_sql('''SELECT DISTINCT bureau_economic_analysis FROM regions limit 10;''',conn)
df

  bureau_economic_analysis
0                Southeast
1                 Far West
2                Southwest
3           Rocky Mountain
4              New England
5                  Mideast
6              Great Lakes
7                   Plains

In [13]:
df = pd.read_sql('''WITH cte as (
                                SELECT state, bureau_economic_analysis as bea
                                FROM regions
                                WHERE bureau_economic_analysis = 'Great Lakes'
                                )
                    SELECT bea, c.state, date, cases as cumulative_total_cases, 
                           cases - LAG (cases,1) OVER 
                           (PARTITION BY c.state ORDER BY date) as  ‘new_cases’,
                           deaths as cumulative_total_deaths,
                           deaths - LAG (cases,1) OVER
                           (PARTITION BY c.state ORDER BY date) as 'new_deaths'
                    FROM counties c 
                    JOIN cte r on c.state = r.state
                    ORDER BY bea, c.state, date;''',conn)
df

,bea,state,date,cumulative_total_cases,‘new_cases’,cumulative_total_deaths,new_deaths
0,Great Lakes,Illinois,2020-01-24,1,NaN,0.0,NaN
1,Great Lakes,Illinois,2020-01-25,1,0.0,0.0,-1.0
2,Great Lakes,Illinois,2020-01-26,1,0.0,0.0,-1.0
3,Great Lakes,Illinois,2020-01-27,1,0.0,0.0,-1.0
4,Great Lakes,Illinois,2020-01-28,1,0.0,0.0,-1.0
...,...,...,...,...,...,...,...
116516,Great Lakes,Wisconsin,2020-12-17,34176,22184.0,314.0,-11678.0
116517,Great Lakes,Wisconsin,2020-12-17,4507,-29669.0,132.0,-34044.0
116518,Great Lakes,Wisconsin,2020-12-17,1975,-2532.0,14.0,-4493.0
116519,Great Lakes,Wisconsin,2020-12-17,16122,14147.0,158.0,-1817.0
116520,Great Lakes,Wisconsin,2020-12-17,5474,-10648.0,45.0,-16077.0

In [14]:
df = pd.read_sql('''SELECT bureau_economic_analysis as bea, c.state, date, cases, deaths
                    FROM counties c
                    JOIN regions r on c.state = r.state AND bureau_economic_analysis = 'Great Lakes'
                    ORDER BY c.state, date
                    LIMIT 50;''',conn)
df

            bea     state        date  cases  deaths
0   Great Lakes  Illinois  2020-01-24      1     0.0
1   Great Lakes  Illinois  2020-01-25      1     0.0
2   Great Lakes  Illinois  2020-01-26      1     0.0
3   Great Lakes  Illinois  2020-01-27      1     0.0
4   Great Lakes  Illinois  2020-01-28      1     0.0
5   Great Lakes  Illinois  2020-01-29      1     0.0
6   Great Lakes  Illinois  2020-01-30      2     0.0
7   Great Lakes  Illinois  2020-01-31      2     0.0
8   Great Lakes  Illinois  2020-02-01      2     0.0
9   Great Lakes  Illinois  2020-02-02      2     0.0
10  Great Lakes  Illinois  2020-02-03      2     0.0
11  Great Lakes  Illinois  2020-02-04      2     0.0
12  Great Lakes  Illinois  2020-02-05      2     0.0
13  Great Lakes  Illinois  2020-02-06      2     0.0
14  Great Lakes  Illinois  2020-02-07      2     0.0
15  Great Lakes  Illinois  2020-02-08      2     0.0
16  Great Lakes  Illinois  2020-02-09      2     0.0
17  Great Lakes  Illinois  2020-02-10      2     0.0
18  Great Lakes  Illinois  2020-02-11      2     0.0
19  Great Lakes  Illinois  2020-02-12      2     0.0
20  Great Lakes  Illinois  2020-02-13      2     0.0
21  Great Lakes  Illinois  2020-02-14      2     0.0
22  Great Lakes  Illinois  2020-02-15      2     0.0
23  Great Lakes  Illinois  2020-02-16      2     0.0
24  Great Lakes  Illinois  2020-02-17      2     0.0
25  Great Lakes  Illinois  2020-02-18      2     0.0
26  Great Lakes  Illinois  2020-02-19      2     0.0
27  Great Lakes  Illinois  2020-02-20      2     0.0
28  Great Lakes  Illinois  2020-02-21      2     0.0
29  Great Lakes  Illinois  2020-02-22      2     0.0
30  Great Lakes  Illinois  2020-02-23      2     0.0
31  Great Lakes  Illinois  2020-02-24      2     0.0
32  Great Lakes  Illinois  2020-02-25      2     0.0
33  Great Lakes  Illinois  2020-02-26      2     0.0
34  Great Lakes  Illinois  2020-02-27      2     0.0
35  Great Lakes  Illinois  2020-02-28      2     0.0
36  Great Lakes  Illinois  2020-02-29      3     0.0
37  Great Lakes  Illinois  2020-03-01      3     0.0
38  Great Lakes  Illinois  2020-03-02      4     0.0
39  Great Lakes  Illinois  2020-03-03      4     0.0
40  Great Lakes  Illinois  2020-03-04      4     0.0
41  Great Lakes  Illinois  2020-03-05      5     0.0
42  Great Lakes  Illinois  2020-03-06      6     0.0
43  Great Lakes  Illinois  2020-03-07      6     0.0
44  Great Lakes  Illinois  2020-03-08      7     0.0
45  Great Lakes  Illinois  2020-03-09     11     0.0
46  Great Lakes  Illinois  2020-03-10     17     0.0
47  Great Lakes  Illinois  2020-03-10      1     0.0
48  Great Lakes  Illinois  2020-03-10      1     0.0
49  Great Lakes  Illinois  2020-03-11     22     0.0

In [15]:
df = pd.read_sql('''SELECT bureau_economic_analysis as bea, c.state, date, 
                    cases - LAG (cases,1) OVER 
                           (PARTITION BY c.state ORDER BY date) as new_cases,
                    SUM(cases) as total_cases,
                    deaths - LAG (deaths,1) OVER
                            (PARTITION BY c.state ORDER BY date) as new_deaths,
                    SUM(deaths) as total_deaths
                    FROM counties c
                    JOIN regions r on c.state = r.state
                    WHERE date > '2020-09-15'
                    GROUP BY c.state, date
                    ORDER BY c.state, date
                    LIMIT 50;''',conn)
df

,bea,state,date,new_cases,total_cases,new_deaths,total_deaths
0,Southeast,Alabama,2020-09-16,NaN,141087,NaN,2392.0
1,Southeast,Alabama,2020-09-17,5.0,141757,0.0,2401.0
2,Southeast,Alabama,2020-09-18,40.0,142863,0.0,2428.0
3,Southeast,Alabama,2020-09-19,9.0,144164,0.0,2437.0
4,Southeast,Alabama,2020-09-20,17.0,144962,0.0,2437.0
5,Southeast,Alabama,2020-09-21,1.0,145780,0.0,2439.0
6,Southeast,Alabama,2020-09-22,23.0,146584,1.0,2457.0
7,Southeast,Alabama,2020-09-23,1.0,147153,0.0,2488.0
8,Southeast,Alabama,2020-09-24,23.0,148206,0.0,2506.0
9,Southeast,Alabama,2020-09-25,19.0,150658,0.0,2491.0
10,Southeast,Alabama,2020-09-26,7.0,151591,0.0,2501.0
11,Southeast,Alabama,2020-09-27,9.0,152321,0.0,2502.0
12,Southeast,Alabama,2020-09-28,12.0,152983,0.0,2501.0
13,Southeast,Alabama,2020-09-29,2.0,153554,2.0,2517.0
14,Southeast,Alabama,2020-09-30,4.0,154701,0.0,2540.0
15,Southeast,Alabama,2020-10-01,7.0,155744,1.0,2548.0
16,Southeast,Alabama,2020-10-02,7.0,156698,-1.0,2550.0
17,Southeast,Alabama,2020-10-03,13.0,158380,0.0,2558.0
18,Southeast,Alabama,2020-10-04,10.0,159169,0.0,2558.0
19,Southeast,Alabama,2020-10-05,3.0,159713,0.0,2559.0
20,Southeast,Alabama,2020-10-06,8.0,160477,0.0,2580.0
21,Southeast,Alabama,2020-10-07,13.0,161418,0.0,2601.0
22,Southeast,Alabama,2020-10-08,11.0,161975,1.0,2637.0
23,Southeast,Alabama,2020-10-09,19.0,163465,0.0,2653.0
24,Southeast,Alabama,2020-10-10,16.0,164526,0.0,2664.0
25,Southeast,Alabama,2020-10-11,7.0,165342,0.0,2664.0
26,Southeast,Alabama,2020-10-12,6.0,166076,0.0,2665.0
27,Southeast,Alabama,2020-10-13,13.0,167193,0.0,2665.0
28,Southeast,Alabama,2020-10-14,4.0,167977,0.0,2706.0
29,Southeast,Alabama,2020-10-15,21.0,169162,0.0,2756.0
30,Southeast,Alabama,2020-10-16,17.0,170374,0.0,2786.0
31,Southeast,Alabama,2020-10-17,17.0,171662,0.0,2788.0
32,Southeast,Alabama,2020-10-18,6.0,172626,0.0,2788.0
33,Southeast,Alabama,2020-10-19,10.0,173485,0.0,2789.0
34,Southeast,Alabama,2020-10-20,11.0,174528,1.0,2805.0
35,Southeast,Alabama,2020-10-21,11.0,175674,1.0,2828.0
36,Southeast,Alabama,2020-10-22,2.0,177064,0.0,2843.0
37,Southeast,Alabama,2020-10-23,7.0,180916,0.0,2859.0
38,Southeast,Alabama,2020-10-24,18.0,183276,1.0,2866.0
39,Southeast,Alabama,2020-10-25,11.0,184355,0.0,2866.0
40,Southeast,Alabama,2020-10-26,15.0,185322,0.0,2866.0
41,Southeast,Alabama,2020-10-27,8.0,186437,0.0,2892.0
42,Southeast,Alabama,2020-10-28,21.0,187706,0.0,2911.0
43,Southeast,Alabama,2020-10-29,23.0,189149,0.0,2914.0
44,Southeast,Alabama,2020-10-30,15.0,190496,0.0,2932.0
45,Southeast,Alabama,2020-10-31,18.0,192285,0.0,2967.0
46,Southeast,Alabama,2020-11-01,14.0,193985,0.0,2973.0
47,Southeast,Alabama,2020-11-02,13.0,194892,0.0,2973.0
48,Southeast,Alabama,2020-11-03,11.0,195929,0.0,2987.0
49,Southeast,Alabama,2020-11-04,15.0,197777,0.0,3006.0

In [16]:
df = pd.read_sql('''select * from states limit 10;''',conn)
df

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
5  2020-01-25  California     6      1       0
6  2020-01-25    Illinois    17      1       0
7  2020-01-25  Washington    53      1       0
8  2020-01-26     Arizona     4      1       0
9  2020-01-26  California     6      2       0

In [17]:
df = pd.read_sql('''SELECT bureau_economic_analysis as bea, s.state, date, 
                    cases - LAG (cases,1) OVER 
                           (PARTITION BY s.state ORDER BY date) as new_cases,
                    SUM(cases) as total_cases,
                    deaths - LAG (deaths,1) OVER
                            (PARTITION BY s.state ORDER BY date) as new_deaths,
                    SUM(deaths) as total_deaths
                    FROM states s
                    JOIN regions r on s.state = r.state AND bureau_economic_analysis = 'Great Lakes'
                    GROUP BY s.state, date
                    ORDER BY s.state, date
                    LIMIT 50;''',conn)
df

,bea,state,date,new_cases,total_cases,new_deaths,total_deaths
0,Great Lakes,Illinois,2020-01-24,NaN,1,NaN,0
1,Great Lakes,Illinois,2020-01-25,0.0,1,0.0,0
2,Great Lakes,Illinois,2020-01-26,0.0,1,0.0,0
3,Great Lakes,Illinois,2020-01-27,0.0,1,0.0,0
4,Great Lakes,Illinois,2020-01-28,0.0,1,0.0,0
5,Great Lakes,Illinois,2020-01-29,0.0,1,0.0,0
6,Great Lakes,Illinois,2020-01-30,1.0,2,0.0,0
7,Great Lakes,Illinois,2020-01-31,0.0,2,0.0,0
8,Great Lakes,Illinois,2020-02-01,0.0,2,0.0,0
9,Great Lakes,Illinois,2020-02-02,0.0,2,0.0,0
10,Great Lakes,Illinois,2020-02-03,0.0,2,0.0,0
11,Great Lakes,Illinois,2020-02-04,0.0,2,0.0,0
12,Great Lakes,Illinois,2020-02-05,0.0,2,0.0,0
13,Great Lakes,Illinois,2020-02-06,0.0,2,0.0,0
14,Great Lakes,Illinois,2020-02-07,0.0,2,0.0,0
15,Great Lakes,Illinois,2020-02-08,0.0,2,0.0,0
16,Great Lakes,Illinois,2020-02-09,0.0,2,0.0,0
17,Great Lakes,Illinois,2020-02-10,0.0,2,0.0,0
18,Great Lakes,Illinois,2020-02-11,0.0,2,0.0,0
19,Great Lakes,Illinois,2020-02-12,0.0,2,0.0,0
20,Great Lakes,Illinois,2020-02-13,0.0,2,0.0,0
21,Great Lakes,Illinois,2020-02-14,0.0,2,0.0,0
22,Great Lakes,Illinois,2020-02-15,0.0,2,0.0,0
23,Great Lakes,Illinois,2020-02-16,0.0,2,0.0,0
24,Great Lakes,Illinois,2020-02-17,0.0,2,0.0,0
25,Great Lakes,Illinois,2020-02-18,0.0,2,0.0,0
26,Great Lakes,Illinois,2020-02-19,0.0,2,0.0,0
27,Great Lakes,Illinois,2020-02-20,0.0,2,0.0,0
28,Great Lakes,Illinois,2020-02-21,0.0,2,0.0,0
29,Great Lakes,Illinois,2020-02-22,0.0,2,0.0,0
30,Great Lakes,Illinois,2020-02-23,0.0,2,0.0,0
31,Great Lakes,Illinois,2020-02-24,0.0,2,0.0,0
32,Great Lakes,Illinois,2020-02-25,0.0,2,0.0,0
33,Great Lakes,Illinois,2020-02-26,0.0,2,0.0,0
34,Great Lakes,Illinois,2020-02-27,0.0,2,0.0,0
35,Great Lakes,Illinois,2020-02-28,0.0,2,0.0,0
36,Great Lakes,Illinois,2020-02-29,1.0,3,0.0,0
37,Great Lakes,Illinois,2020-03-01,0.0,3,0.0,0
38,Great Lakes,Illinois,2020-03-02,1.0,4,0.0,0
39,Great Lakes,Illinois,2020-03-03,0.0,4,0.0,0
40,Great Lakes,Illinois,2020-03-04,0.0,4,0.0,0
41,Great Lakes,Illinois,2020-03-05,1.0,5,0.0,0
42,Great Lakes,Illinois,2020-03-06,1.0,6,0.0,0
43,Great Lakes,Illinois,2020-03-07,0.0,6,0.0,0
44,Great Lakes,Illinois,2020-03-08,1.0,7,0.0,0
45,Great Lakes,Illinois,2020-03-09,4.0,11,0.0,0
46,Great Lakes,Illinois,2020-03-10,8.0,19,0.0,0
47,Great Lakes,Illinois,2020-03-11,6.0,25,0.0,0
48,Great Lakes,Illinois,2020-03-12,7.0,32,0.0,0
49,Great Lakes,Illinois,2020-03-13,14.0,46,0.0,0

In [18]:
df = pd.read_sql('''SELECT bureau_economic_analysis as bea, s.state, date, 
                    cases - LAG (cases,1) OVER 
                           (PARTITION BY s.state ORDER BY date) as new_cases,
                    SUM(cases) as total_cases,
                    deaths - LAG (deaths,1) OVER
                            (PARTITION BY s.state ORDER BY date) as new_deaths,
                    SUM(deaths) as total_deaths
                    FROM states s
                    JOIN regions r on s.state = r.state AND bureau_economic_analysis = 'Great Lakes'
                    WHERE date > '2020-09-15'
                    GROUP BY s.state, date
                    ORDER BY s.state, date
                    LIMIT 50;''',conn)
df

,bea,state,date,new_cases,total_cases,new_deaths,total_deaths
0,Great Lakes,Illinois,2020-09-16,NaN,269282,NaN,8622
1,Great Lakes,Illinois,2020-09-17,2088.0,271370,21.0,8643
2,Great Lakes,Illinois,2020-09-18,2226.0,273596,23.0,8666
3,Great Lakes,Illinois,2020-09-19,2461.0,276057,22.0,8688
4,Great Lakes,Illinois,2020-09-20,1316.0,277373,12.0,8700
5,Great Lakes,Illinois,2020-09-21,1659.0,279032,17.0,8717
6,Great Lakes,Illinois,2020-09-22,1479.0,280511,24.0,8741
7,Great Lakes,Illinois,2020-09-23,1820.0,282331,21.0,8762
8,Great Lakes,Illinois,2020-09-24,2289.0,284620,31.0,8793
9,Great Lakes,Illinois,2020-09-25,2755.0,287375,33.0,8826
10,Great Lakes,Illinois,2020-09-26,2308.0,289683,21.0,8847
11,Great Lakes,Illinois,2020-09-27,1588.0,291271,12.0,8859
12,Great Lakes,Illinois,2020-09-28,1898.0,293169,18.0,8877
13,Great Lakes,Illinois,2020-09-29,1504.0,294673,24.0,8901
14,Great Lakes,Illinois,2020-09-30,2262.0,296935,34.0,8935
15,Great Lakes,Illinois,2020-10-01,2176.0,299111,21.0,8956
16,Great Lakes,Illinois,2020-10-02,2429.0,301540,51.0,9007
17,Great Lakes,Illinois,2020-10-03,2267.0,303807,26.0,9033
18,Great Lakes,Illinois,2020-10-04,1411.0,305218,17.0,9050
19,Great Lakes,Illinois,2020-10-05,2210.0,307428,21.0,9071
20,Great Lakes,Illinois,2020-10-06,1562.0,308990,29.0,9100
21,Great Lakes,Illinois,2020-10-07,2624.0,311614,38.0,9138
22,Great Lakes,Illinois,2020-10-08,3111.0,314725,35.0,9173
23,Great Lakes,Illinois,2020-10-09,2776.0,317501,34.0,9207
24,Great Lakes,Illinois,2020-10-10,2782.0,320283,28.0,9235
25,Great Lakes,Illinois,2020-10-11,2702.0,322985,10.0,9245
26,Great Lakes,Illinois,2020-10-12,2770.0,325755,13.0,9258
27,Great Lakes,Illinois,2020-10-13,3405.0,329160,30.0,9288
28,Great Lakes,Illinois,2020-10-14,2964.0,332124,47.0,9335
29,Great Lakes,Illinois,2020-10-15,4087.0,336211,57.0,9392
30,Great Lakes,Illinois,2020-10-16,5008.0,341219,55.0,9447
31,Great Lakes,Illinois,2020-10-17,3568.0,344787,27.0,9474
32,Great Lakes,Illinois,2020-10-18,4083.0,348870,17.0,9491
33,Great Lakes,Illinois,2020-10-19,3579.0,352449,29.0,9520
34,Great Lakes,Illinois,2020-10-20,3702.0,356151,42.0,9562
35,Great Lakes,Illinois,2020-10-21,4009.0,360160,60.0,9622
36,Great Lakes,Illinois,2020-10-22,4960.0,365120,41.0,9663
37,Great Lakes,Illinois,2020-10-23,5014.0,370134,41.0,9704
38,Great Lakes,Illinois,2020-10-24,5900.0,376034,61.0,9765
39,Great Lakes,Illinois,2020-10-25,4031.0,380065,23.0,9788
40,Great Lakes,Illinois,2020-10-26,5019.0,385084,23.0,9811
41,Great Lakes,Illinois,2020-10-27,4004.0,389088,49.0,9860
42,Great Lakes,Illinois,2020-10-28,6116.0,395204,52.0,9912
43,Great Lakes,Illinois,2020-10-29,6418.0,401622,51.0,9963
44,Great Lakes,Illinois,2020-10-30,8519.0,410141,49.0,10012
45,Great Lakes,Illinois,2020-10-31,6416.0,416557,18.0,10030
46,Great Lakes,Illinois,2020-11-01,8303.0,424860,61.0,10091
47,Great Lakes,Illinois,2020-11-02,6421.0,431281,24.0,10115
48,Great Lakes,Illinois,2020-11-03,6598.0,437879,62.0,10177
49,Great Lakes,Illinois,2020-11-04,7658.0,445537,62.0,10239

In [19]:
df = pd.read_sql('''SELECT bureau_economic_analysis as bea, s.state, date, 
                    cases - LAG (cases,1) OVER 
                           (PARTITION BY s.state ORDER BY date) as new_cases,
                    SUM(cases) as total_cases,
                    deaths - LAG (deaths,1) OVER
                            (PARTITION BY s.state ORDER BY date) as new_deaths,
                    SUM(deaths) as total_deaths
                    FROM states s
                    JOIN regions r on s.state = r.state AND bureau_economic_analysis = 'Great Lakes'
                    WHERE date > '2020-09-15'
                    GROUP BY s.state, date
                    ORDER BY s.state, date;''',conn)
df

,bea,state,date,new_cases,total_cases,new_deaths,total_deaths
0,Great Lakes,Illinois,2020-09-16,NaN,269282,NaN,8622
1,Great Lakes,Illinois,2020-09-17,2088.0,271370,21.0,8643
2,Great Lakes,Illinois,2020-09-18,2226.0,273596,23.0,8666
3,Great Lakes,Illinois,2020-09-19,2461.0,276057,22.0,8688
4,Great Lakes,Illinois,2020-09-20,1316.0,277373,12.0,8700
...,...,...,...,...,...,...,...
460,Great Lakes,Wisconsin,2020-12-13,2965.0,468956,15.0,4344
461,Great Lakes,Wisconsin,2020-12-14,2329.0,471285,15.0,4359
462,Great Lakes,Wisconsin,2020-12-15,4055.0,475340,53.0,4412
463,Great Lakes,Wisconsin,2020-12-16,2822.0,478162,87.0,4499
464,Great Lakes,Wisconsin,2020-12-17,4281.0,482443,67.0,4566

In [20]:
df = pd.read_sql('''WITH CTE AS(SELECT bureau_economic_analysis as bea, s.state, date, 
                                    cases - LAG (cases,1) OVER 
                                       (PARTITION BY s.state ORDER BY date) as new_cases,
                                    SUM(cases) as total_cases,
                                    deaths - LAG (deaths,1) OVER
                                        (PARTITION BY s.state ORDER BY date) as new_deaths,
                                    SUM(deaths) as total_deaths
                                FROM states s
                                JOIN regions r on s.state = r.state AND bureau_economic_analysis = 'Great Lakes'
                                GROUP BY s.state, date
                                ORDER BY s.state, date)
                        SELECT * FROM CTE;''',conn)
df

,bea,state,date,new_cases,total_cases,new_deaths,total_deaths
0,Great Lakes,Illinois,2020-01-24,NaN,1,NaN,0
1,Great Lakes,Illinois,2020-01-25,0.0,1,0.0,0
2,Great Lakes,Illinois,2020-01-26,0.0,1,0.0,0
3,Great Lakes,Illinois,2020-01-27,0.0,1,0.0,0
4,Great Lakes,Illinois,2020-01-28,0.0,1,0.0,0
...,...,...,...,...,...,...,...
1495,Great Lakes,Wisconsin,2020-12-13,2965.0,468956,15.0,4344
1496,Great Lakes,Wisconsin,2020-12-14,2329.0,471285,15.0,4359
1497,Great Lakes,Wisconsin,2020-12-15,4055.0,475340,53.0,4412
1498,Great Lakes,Wisconsin,2020-12-16,2822.0,478162,87.0,4499
1499,Great Lakes,Wisconsin,2020-12-17,4281.0,482443,67.0,4566

In [21]:
df = pd.read_sql('''WITH CTE AS (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties)
                           
                    SELECT date, state, county, new_cases, cumulative_cases,
                            AVG (new_cases) OVER (PARTITION BY state, county ORDER BY date ASC
                                rows 6 PRECEDING) as '7_day_avg_new'
                    FROM CTE
                    ORDER BY state, county, date;                    
                    ''',conn)
df

,date,state,county,new_cases,cumulative_cases,7_day_avg_new
0,2020-03-24,Alabama,Autauga,NaN,1,NaN
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000
...,...,...,...,...,...,...
839381,2020-12-13,Wyoming,Weston,0.0,428,1.142857
839382,2020-12-14,Wyoming,Weston,1.0,429,1.000000
839383,2020-12-15,Wyoming,Weston,7.0,436,1.571429
839384,2020-12-16,Wyoming,Weston,0.0,436,1.285714
839385,2020-12-17,Wyoming,Weston,2.0,438,1.428571

In [22]:
df = pd.read_sql('''SELECT date, state, county, new_cases, cumulative_cases,
                           AVG(new_cases) OVER (PARTITION BY state, county ORDER BY date ASC
                               rows 6 PRECEDING) as '7-day_avg_new'
                    FROM (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties)
                    ORDER BY state, county, date;''',conn)
df

,date,state,county,new_cases,cumulative_cases,7-day_avg_new
0,2020-03-24,Alabama,Autauga,NaN,1,NaN
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000
...,...,...,...,...,...,...
839381,2020-12-13,Wyoming,Weston,0.0,428,1.142857
839382,2020-12-14,Wyoming,Weston,1.0,429,1.000000
839383,2020-12-15,Wyoming,Weston,7.0,436,1.571429
839384,2020-12-16,Wyoming,Weston,0.0,436,1.285714
839385,2020-12-17,Wyoming,Weston,2.0,438,1.428571

In [23]:
df = pd.read_sql('''SELECT * FROM mask_use limit 25;''',conn)
df

    COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0       1001  0.053   0.074      0.134       0.295   0.444
1       1003  0.083   0.059      0.098       0.323   0.436
2       1005  0.067   0.121      0.120       0.201   0.491
3       1007  0.020   0.034      0.096       0.278   0.572
4       1009  0.053   0.114      0.180       0.194   0.459
5       1011  0.031   0.040      0.144       0.286   0.500
6       1013  0.102   0.053      0.257       0.137   0.451
7       1015  0.152   0.108      0.130       0.167   0.442
8       1017  0.117   0.037      0.150       0.136   0.560
9       1019  0.135   0.027      0.161       0.158   0.520
10      1021  0.060   0.070      0.058       0.194   0.618
11      1023  0.049   0.038      0.126       0.219   0.568
12      1025  0.049   0.088      0.164       0.268   0.430
13      1027  0.148   0.158      0.195       0.169   0.329
14      1029  0.151   0.125      0.138       0.217   0.368
15      1031  0.101   0.152      0.094       0.186   0.466
16      1033  0.082   0.096      0.152       0.159   0.510
17      1035  0.099   0.052      0.259       0.192   0.399
18      1037  0.055   0.131      0.167       0.263   0.384
19      1039  0.187   0.128      0.129       0.201   0.356
20      1041  0.060   0.091      0.199       0.233   0.416
21      1043  0.130   0.024      0.249       0.217   0.379
22      1045  0.089   0.113      0.118       0.220   0.460
23      1047  0.095   0.100      0.159       0.122   0.524
24      1049  0.084   0.051      0.106       0.179   0.580

In [24]:
df = pd.read_sql('''select distinct state, county, never, rarely, sometimes, frequently, always
                    from mask_use m
                    join counties c on c.fips = m.countyfp
                    order by state
                    limit 25;''',conn)
df

      state      county  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0   Alabama      Elmore  0.042   0.095      0.127       0.252   0.485
1   Alabama   Jefferson  0.049   0.037      0.107       0.179   0.628
2   Alabama   Limestone  0.102   0.034      0.133       0.336   0.395
3   Alabama  Montgomery  0.056   0.095      0.123       0.212   0.513
4   Alabama  Tuscaloosa  0.041   0.036      0.144       0.247   0.532
5   Alabama     Baldwin  0.083   0.059      0.098       0.323   0.436
6   Alabama         Lee  0.053   0.064      0.138       0.183   0.562
7   Alabama      Shelby  0.022   0.075      0.118       0.240   0.545
8   Alabama     Madison  0.062   0.050      0.123       0.177   0.589
9   Alabama   St. Clair  0.027   0.134      0.144       0.200   0.495
10  Alabama     Calhoun  0.152   0.108      0.130       0.167   0.442
11  Alabama   Talladega  0.113   0.150      0.208       0.169   0.361
12  Alabama    Chambers  0.117   0.037      0.150       0.136   0.560
13  Alabama      Mobile  0.077   0.070      0.102       0.244   0.506
14  Alabama      Walker  0.090   0.081      0.145       0.256   0.429
15  Alabama     Cullman  0.130   0.024      0.249       0.217   0.379
16  Alabama     Jackson  0.092   0.089      0.110       0.249   0.460
17  Alabama       Lamar  0.107   0.045      0.132       0.189   0.527
18  Alabama  Lauderdale  0.093   0.119      0.141       0.179   0.469
19  Alabama  Washington  0.018   0.077      0.102       0.307   0.495
20  Alabama      Marion  0.129   0.064      0.246       0.207   0.353
21  Alabama    Franklin  0.065   0.071      0.223       0.156   0.484
22  Alabama     Houston  0.085   0.079      0.135       0.268   0.433
23  Alabama  Tallapoosa  0.067   0.095      0.136       0.296   0.406
24  Alabama     Autauga  0.053   0.074      0.134       0.295   0.444

In [25]:
df = pd.read_sql('''WITH new AS (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties)
                           
                    SELECT date, state, county, new_cases, cumulative_cases,
                            AVG (new_cases) OVER (PARTITION BY state, county ORDER BY date ASC
                                rows 6 PRECEDING) as '7_day_avg_new'
                    FROM new
                    ORDER BY state, county, date;                    
                    ''',conn)
df

,date,state,county,new_cases,cumulative_cases,7_day_avg_new
0,2020-03-24,Alabama,Autauga,NaN,1,NaN
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000
...,...,...,...,...,...,...
839381,2020-12-13,Wyoming,Weston,0.0,428,1.142857
839382,2020-12-14,Wyoming,Weston,1.0,429,1.000000
839383,2020-12-15,Wyoming,Weston,7.0,436,1.571429
839384,2020-12-16,Wyoming,Weston,0.0,436,1.285714
839385,2020-12-17,Wyoming,Weston,2.0,438,1.428571

In [26]:
df = pd.read_sql('''WITH mask AS (SELECT distinct state, county, never, rarely, sometimes, frequently, always
                                  FROM mask_use m
                                  JOIN counties c on c.fips = m.countyfp),
                    
                         new AS (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties)
                                 
                    SELECT date, n.state, n.county, new_cases, cumulative_cases,
                           AVG(new_cases) OVER (PARTITION BY n.state, n.county ORDER BY date ASC
                               rows 6 PRECEDING) as '7-day_avg_new', always as 'pct_always_mask'
                    FROM new n
                    JOIN mask m on n.state = m.state AND n.county = m.county
                    ORDER BY n.state, n.county, date;''',conn)
df

,date,state,county,new_cases,cumulative_cases,7-day_avg_new,pct_always_mask
0,2020-03-24,Alabama,Autauga,NaN,1,NaN,0.444
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000,0.444
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000,0.444
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667,0.444
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000,0.444
...,...,...,...,...,...,...,...
812702,2020-12-13,Wyoming,Weston,0.0,428,1.142857,0.374
812703,2020-12-14,Wyoming,Weston,1.0,429,1.000000,0.374
812704,2020-12-15,Wyoming,Weston,7.0,436,1.571429,0.374
812705,2020-12-16,Wyoming,Weston,0.0,436,1.285714,0.374
812706,2020-12-17,Wyoming,Weston,2.0,438,1.428571,0.374

In [27]:
df = pd.read_sql('''SELECT date, n.state, n.county, new_cases, cumulative_cases,
                           AVG(new_cases) OVER (PARTITION BY n.state, n.county ORDER BY date ASC
                               rows 6 PRECEDING) as '7-day_avg_new', always as 'pct_always_mask'
                    FROM (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties) n
                    JOIN (SELECT distinct state, county, never, rarely, sometimes, frequently, always
                                  FROM mask_use m
                                  JOIN counties c on c.fips = m.countyfp) m
                    ON n.state = m.state AND n.county = m.county
                    ORDER BY n.state, n.county, date;''',conn)
df

,date,state,county,new_cases,cumulative_cases,7-day_avg_new,pct_always_mask
0,2020-03-24,Alabama,Autauga,NaN,1,NaN,0.444
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000,0.444
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000,0.444
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667,0.444
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000,0.444
...,...,...,...,...,...,...,...
812702,2020-12-13,Wyoming,Weston,0.0,428,1.142857,0.374
812703,2020-12-14,Wyoming,Weston,1.0,429,1.000000,0.374
812704,2020-12-15,Wyoming,Weston,7.0,436,1.571429,0.374
812705,2020-12-16,Wyoming,Weston,0.0,436,1.285714,0.374
812706,2020-12-17,Wyoming,Weston,2.0,438,1.428571,0.374

In [28]:
df = pd.read_sql('''CREATE TABLE temp.mask AS 
                           SELECT distinct state, county, never, rarely, sometimes, frequently, always
                           FROM mask_use m
                           JOIN counties c on c.fips = m.countyfp;
                           ''',conn)

TypeError: 'NoneType' object is not iterable

In [29]:
df = pd.read_sql('''WITH new AS (SELECT date, state, county, 
                           cases - LAG (cases,1) OVER
                           (PARTITION BY fips ORDER BY date)
                           as new_cases,
                           cases as cumulative_cases
                           FROM counties)
                           
                    SELECT date, n.state, n.county, new_cases, cumulative_cases,
                           AVG(new_cases) OVER (PARTITION BY n.state, n.county ORDER BY date ASC
                               rows 6 PRECEDING) as '7-day_avg_new', always as 'pct_always_mask'
                    FROM mask m
                    JOIN new n on m.state = n.state AND m.county = n.county
                    ORDER BY n.state, n.county, n.date;''',conn)
df

,date,state,county,new_cases,cumulative_cases,7-day_avg_new,pct_always_mask
0,2020-03-24,Alabama,Autauga,NaN,1,NaN,0.444
1,2020-03-25,Alabama,Autauga,3.0,4,3.000000,0.444
2,2020-03-26,Alabama,Autauga,2.0,6,2.500000,0.444
3,2020-03-27,Alabama,Autauga,0.0,6,1.666667,0.444
4,2020-03-28,Alabama,Autauga,0.0,6,1.250000,0.444
...,...,...,...,...,...,...,...
812702,2020-12-13,Wyoming,Weston,0.0,428,1.142857,0.374
812703,2020-12-14,Wyoming,Weston,1.0,429,1.000000,0.374
812704,2020-12-15,Wyoming,Weston,7.0,436,1.571429,0.374
812705,2020-12-16,Wyoming,Weston,0.0,436,1.285714,0.374
812706,2020-12-17,Wyoming,Weston,2.0,438,1.428571,0.374